.mt-122px {
  margin-top: 122px;
}

.mt-16px {
  margin-top: 16px;
}

.vh-full {
  height: 100vh;
}

.text-gray {
  color: rgba(0, 0, 0, 0.5);
}

.text-dark-gray {
  color: rgba(0, 0, 0, 0.9);
}

.yamm-content .list-group-flush a {
  color: rgba(0, 0, 0, 0.9);
}

#col-main-content .jumbotron {
  height: calc(100vh - 200px);
}

.navigation-active {
  border-bottom: 2.5px solid blue;
}
