<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni"
        crossorigin="anonymous"/>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/geedmo/yamm@4.0.0/dist/yamm.min.css"/>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body>

@await Html.PartialAsync("_NavbarPartial")

<div class="container vh-full mt-122px">

    <!-- Top Ad -->
    <div class="row pt-4" id="top-ad">
        <div class="col-xs-12 w-100 text-center">
            <a href="https://www.google.com" target="_blank">
                <img src="~/assets/beaconsoccer.png" id="top-ad-img"/>
            </a>
        </div>
    </div>

    @await Html.PartialAsync("_NavbarInnerPartial")

    <!-- Middle Ad -->
    <div class="row pt-4" id="middle-ad">
        <div class="col-xs-12 w-100 text-center">
            <a href="https://www.google.com" target="_blank">
                <img src="~/assets/themotzgroup.jpg" id="middle-ad-img"/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-9" id="col-main-content">
            @RenderBody()
        </div>
        <div class="col-12 col-sm-3 text-center mt-4" id="panel-ad">
            <a href="https://www.google.com" target="_blank">
                <img src="~/assets/panelads.png"/>
            </a>
        </div>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - WebMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.1/holder.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>