<div class="yamm navbar navbar-expand-lg navbar-light bg-light mt-4" id="inner-nav">
    <div class="container w-100">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-collapse-2"
            aria-controls="navbar-collapse-2"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="navbar-collapse collapse flex-column align-items-start"
            id="navbar-collapse-2">
            <div class="d-flex justify-content-between mb-lg-3 w-100">
                <span class="pl-2 pt-2">
                    <h4>Football</h4>
                </span>
            </div>
            <ul class="navbar-nav mr-auto flex-row ul-main-menu">
                <li class="nav-item dropdown yamm-fw pr-lg-4">
                    <li class="nav-item dropdown yamm-fw pr-lg-4">
                        <select class="custom-select" id="year-select">
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                        </select>
                    </li>
                </li>
                <li class="nav-item dropdown yamm-fw px-lg-4">
                    <a class="nav-link navigation-active" href="#standings">
                        Standings
                    </a>
                </li>

                <li class="nav-item dropdown yamm-fw px-lg-4">
                    <a class="nav-link" href="#schedule">
                        Schedule
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#teams" data-toggle="dropdown">Teams</a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" tabindex="-1" href="#">Colerain</a>
                        <a class="dropdown-item" tabindex="-1" href="#">Fairfield</a>
                        <a class="dropdown-item" tabindex="-1" href="#">Hamilton</a>
                        <a class="dropdown-item" tabindex="-1" href="#">Lakota East</a>
                    </div>
                </li>

                <li class="nav-item dropdown yamm-fw px-lg-4">
                    <a class="nav-link" href="#statistics">
                        Statistics
                    </a>
                </li>

                <li class="nav-item dropdown yamm-fw px-lg-4">
                    <a class="nav-link" href="#conference">
                        All conference teams
                    </a>
                </li>

                <li class="nav-item dropdown yamm-fw px-lg-4">
                    <a class="nav-link" href="#champions">
                        Champions
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>