@model PageHeaderModel

<nav class="yamm navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container w-100">
        <a class="navbar-brand" href="#">
            <img src="~/assets/conferences-logos/@Model.LogoFileName" alt="logo"/>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-collapse-1"
            aria-controls="navbar-collapse-1"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="navbar-collapse collapse flex-column align-items-start"
            id="navbar-collapse-1">
            <div class="d-flex justify-content-between mb-lg-3 w-100">
                <span class="pl-2 d-none d-lg-block">@Model.ConferenceName</span>
                <div>
                    <a class="pl-0 pl-lg-3 mobile-nav-link text-gray" href="#">Schools</a>
                    <a class="pl-0 pl-lg-4 mobile-nav-link text-gray" href="#">Tickets</a>
                </div>
            </div>
            <ul class="navbar-nav mr-auto flex-row ul-main-menu">
                @{
                    foreach (var menuHeader in Model.MenuHeaders)
                    {
                        <li class="nav-item dropdown yamm-fw pr-lg-4">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                @menuHeader.DisplayTitle
                            </a>
                            <div class="dropdown-menu p-0">
                                <div class="yamm-content">
                                    <div class="row">
                                        @{
                                            foreach (var menuItem in menuHeader.MenuItems)
                                            {
                                                <a class="col-12 col-md-4 p-3" href="@menuItem.Url">@menuItem.DisplayName</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>